header {
  float: left;
  width: 100%;
  padding-top: 25px;
  h1 {
    float: left;
    color: $white;
    margin: 0;
  }
  nav {
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      .loggedIn,
      .loggedOut {
        li {
          float: right;
          text-align: right;
          padding: 10px 10px 0 10px;
          margin: 10px 10px 0 10px;
          i {
            display: none;
          }
          p {
            color: $white;
            margin: 0;
            // transition: transform 0.5s;
            &:hover {
              // transform: scale(1.2);

              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.hero {
  // background-image: url(./assets/heroGirl.jpg);
  background-image: url(./assets/heroPool3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: 100vh;
  .heroScreen {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    .wrapper {
      clear:both;
      height: 100vh;
      display:flex;
      justify-content: center;
      align-items: center;
      .heroContent {
        // float: right;
        width: 60%;
        text-align: center;
        position: relative;
        top: -100px;
        // margin-right: 0;
        // top: 50%;
        // right: - 100px;
        // right: 0px;
        // transform: translateY(-50%);
        h2.heroHeading {
          color: $white;
          margin: 15px 0;
        }
        p.heroCopy {
          color: $white;
        }
      }
    }
  }
}

///////////////////////////////////////////////
// HEADER MEDIA QUERIES
///////////////////////////////////////////////

@media (max-width: 1080px) {
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  header {
    padding-top: 25px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    nav {
      padding-top: 0px;
            ul {
        .loggedIn,
        .loggedOut {
          li {
            padding:10px;
            margin:0;
            transition: transform 0.5s;
            &:hover {
              transform: scale(1.2);
            }
            i {
              display: inline;
              color: $white;
              font-size: 2rem;
            }
          }
          p {
            display: none;
            margin: 0;
          }
        }
      }
    }
  }

  .hero {
    .heroScreen {
      background-color: rgba(0, 0, 0, 0.5);
      .wrapper {
        .heroContent {
          clear: both;
          float: none;
          width: 100%;
          margin: 0 auto;
          text-align: center;
          h2.heroHeading {
            text-align: center;
          }
          p.heroCopy {
            text-align: center;
          }
          .btn {
            margin: 0 auto;
          }
        }
      }
    }
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  header {
    h1 {
      padding-left: 15px;
    }
    nav {
      // ul {
      //   .loggedIn,
      //   .loggedOut {
      //     li {
      //       transition: transform 0.5s;
      //       &:hover {
      //         transform: scale(1.2);
      //       }
      //       i {
      //         display: inline;
      //         color: $white;
      //         font-size: 2rem;
      //       }
      //     }
      //     p {
      //       display: none;
      //       margin: 0;
      //     }
      //   }
      // }
    }
  }
  
  .hero {
    background-image: url(./assets/heroPoolMobile.jpg);
    .heroScreen {
      .wrapper {
        width: 300px;
        .heroContent {
          h2.heroHeading {
            font-size: 3.2rem;
          }
          p.heroCopy {
            text-align: center;
          }
          .btn {
            margin: 0 auto;
          }
        }
      }
    }
  }
  }

@media (max-width: 340px) {
  header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    nav {
      justify-self: flex-end;
      clear:both;
      ul {
        text-align:left;
        .loggedIn,
        .loggedOut {
          li {
            text-align:left;
            margin:0;
            i {
              display: inline;
              color: $white;
              font-size: 2rem;
            }
          }
          p {
            display: none;
            margin: 0;
          }
        }
      }
    }
  }
}