@import url("https://fonts.googleapis.com/css?family=Lora:700|Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:900|Work+Sans:300,700");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201c \201d \2018 \2019; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body,
figure {
  margin: 0; }

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

img {
  display: block;
  width: 100%; }

.wrapper {
  max-width: 1080px;
  margin: 0 auto; }

.btn {
  margin-top: 10px;
  width: 180px;
  padding: 15px 0px;
  background-color: #fd5c00;
  border: 2px solid #ffffff;
  border-radius: 2px;
  color: #ffffff;
  font-weight: 700;
  transition: transform 0.5s; }
  .btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #ffffff;
    border: 2px solid #ffffff; }

.btnLightBg {
  margin-top: 10px;
  width: 180px;
  padding: 15px 0px;
  background-color: #fd5c00;
  border: 2px solid #ffffff;
  border-radius: 2px;
  color: #ffffff;
  font-weight: 700;
  transition: transform 0.5s; }
  .btnLightBg:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #fd5c00;
    border: 2px solid #fd5c00; }

.btnAltLightBg {
  margin-top: 10px;
  width: 180px;
  padding: 15px 0px;
  background-color: #03b6bc;
  border: 2px solid #ffffff;
  border-radius: 2px;
  color: #ffffff;
  font-weight: 700;
  transition: transform 0.5s; }
  .btnAltLightBg:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #03b6bc;
    border: 2px solid #03b6bc; }

.btnInvert {
  margin-top: 10px;
  width: 180px;
  padding: 15px 0px;
  background-color: transparent;
  border: 2px solid #fd5c00;
  border-radius: 2px;
  color: #fd5c00;
  font-weight: 700;
  transition: transform 0.5s; }
  .btnInvert:hover {
    background-color: #fd5c00;
    color: #ffffff;
    border: 2px solid #ffffff; }

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #03b6bc;
  font-size: 12px;
  border: 1px solid #03b6bc;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3); }

.swal-overlay {
  background-color: rgba(74, 74, 74, 0.7); }

@media (max-width: 1080px) {
  .wrapper {
    max-width: 930px;
    margin: 0 auto; } }

@media (max-width: 940px) {
  .wrapper {
    max-width: 758px;
    margin: 0 auto; } }

@media (max-width: 768px) {
  .wrapper {
    max-width: 470px;
    margin: 0 auto; } }

@media (max-width: 480px) {
  .wrapper {
    max-width: 450px;
    margin: 0 auto; } }

@media (max-width: 350px) {
  .wrapper {
    max-width: 300px;
    margin: 0 auto; } }

h1 {
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900; }

h2 {
  font-size: 5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  line-height: 1.2; }

h3 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  line-height: 1.1; }

p {
  font-size: 1.6rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  color: #4a4a4a;
  line-height: 1.25; }

.btn {
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-transform: uppercase; }

.smallBtn, .smallBtn, .deleteBtn, .cellarBtn {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase; }

.filters li {
  font-size: 1.6rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 300; }

a {
  text-decoration: none; }

nav li p {
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  color: white; }

header {
  float: left;
  width: 100%;
  padding-top: 25px; }
  header h1 {
    float: left;
    color: #ffffff;
    margin: 0; }
  header nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none; }
    header nav ul .loggedIn li,
    header nav ul .loggedOut li {
      float: right;
      text-align: right;
      padding: 10px 10px 0 10px;
      margin: 10px 10px 0 10px; }
      header nav ul .loggedIn li i,
      header nav ul .loggedOut li i {
        display: none; }
      header nav ul .loggedIn li p,
      header nav ul .loggedOut li p {
        color: #ffffff;
        margin: 0; }
        header nav ul .loggedIn li p:hover,
        header nav ul .loggedOut li p:hover {
          cursor: pointer; }

.hero {
  background-image: url(./assets/heroPool3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: 100vh; }
  .hero .heroScreen {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25); }
    .hero .heroScreen .wrapper {
      clear: both;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center; }
      .hero .heroScreen .wrapper .heroContent {
        width: 60%;
        text-align: center;
        position: relative;
        top: -100px; }
        .hero .heroScreen .wrapper .heroContent h2.heroHeading {
          color: #ffffff;
          margin: 15px 0; }
        .hero .heroScreen .wrapper .heroContent p.heroCopy {
          color: #ffffff; }

/* Portrait tablet and small desktops */
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  header {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header nav {
      padding-top: 0px; }
      header nav ul .loggedIn li,
      header nav ul .loggedOut li {
        padding: 10px;
        margin: 0;
        transition: transform 0.5s; }
        header nav ul .loggedIn li:hover,
        header nav ul .loggedOut li:hover {
          transform: scale(1.2); }
        header nav ul .loggedIn li i,
        header nav ul .loggedOut li i {
          display: inline;
          color: #ffffff;
          font-size: 2rem; }
      header nav ul .loggedIn p,
      header nav ul .loggedOut p {
        display: none;
        margin: 0; }
  .hero .heroScreen {
    background-color: rgba(0, 0, 0, 0.5); }
    .hero .heroScreen .wrapper .heroContent {
      clear: both;
      float: none;
      width: 100%;
      margin: 0 auto;
      text-align: center; }
      .hero .heroScreen .wrapper .heroContent h2.heroHeading {
        text-align: center; }
      .hero .heroScreen .wrapper .heroContent p.heroCopy {
        text-align: center; }
      .hero .heroScreen .wrapper .heroContent .btn {
        margin: 0 auto; } }

/* Landscape phones and down */
@media (max-width: 480px) {
  header h1 {
    padding-left: 15px; }
  .hero {
    background-image: url(./assets/heroPoolMobile.jpg); }
    .hero .heroScreen .wrapper {
      width: 300px; }
      .hero .heroScreen .wrapper .heroContent h2.heroHeading {
        font-size: 3.2rem; }
      .hero .heroScreen .wrapper .heroContent p.heroCopy {
        text-align: center; }
      .hero .heroScreen .wrapper .heroContent .btn {
        margin: 0 auto; } }

@media (max-width: 340px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header nav {
      justify-self: flex-end;
      clear: both; }
      header nav ul {
        text-align: left; }
        header nav ul .loggedIn li,
        header nav ul .loggedOut li {
          text-align: left;
          margin: 0; }
          header nav ul .loggedIn li i,
          header nav ul .loggedOut li i {
            display: inline;
            color: #ffffff;
            font-size: 2rem; }
        header nav ul .loggedIn p,
        header nav ul .loggedOut p {
          display: none;
          margin: 0; } }

.formContainer {
  width: 100%; }
  .formContainer .form {
    width: 40%;
    height: 300px;
    float: left;
    background-color: #a4a4a4; }
    .formContainer .form .formWrapper {
      width: 360px;
      float: right;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
      .formContainer .form .formWrapper form .filters {
        width: 360px; }
        .formContainer .form .formWrapper form .filters fieldset {
          border: none;
          padding: 0;
          margin-bottom: 10px; }
          .formContainer .form .formWrapper form .filters fieldset h3 {
            margin: 0 0 15px 0;
            color: #ffffff; }
          .formContainer .form .formWrapper form .filters fieldset ul {
            list-style-type: none;
            padding: 0;
            margin-bottom: 15px; }
            .formContainer .form .formWrapper form .filters fieldset ul li {
              display: inline;
              margin-right: 20px; }
              .formContainer .form .formWrapper form .filters fieldset ul li .radio {
                color: #ffffff;
                position: relative; }
                .formContainer .form .formWrapper form .filters fieldset ul li .radio span {
                  position: relative;
                  padding: 5px 0 0 30px; }
                .formContainer .form .formWrapper form .filters fieldset ul li .radio span:after {
                  content: "";
                  width: 20px;
                  height: 20px;
                  border: 3px solid;
                  position: absolute;
                  left: 0;
                  top: 1px;
                  border-radius: 100%; }
                .formContainer .form .formWrapper form .filters fieldset ul li .radio input[type="radio"] {
                  cursor: pointer;
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  z-index: 1;
                  opacity: 0; }
  .formContainer .formQuote {
    width: 60%;
    float: right;
    height: 300px;
    background-color: #4a4a4a; }
    .formContainer .formQuote .formQuoteScreen {
      height: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .formContainer .formQuote .formQuoteScreen .quote {
        max-width: 720px;
        margin: 0 auto;
        text-align: center;
        font-size: 2.7rem;
        padding: 0px 20px;
        color: #03b6bc;
        z-index: 1; }
        .formContainer .formQuote .formQuoteScreen .quote .quotePlonk {
          color: #03b6bc; }
      .formContainer .formQuote .formQuoteScreen .quoteSource {
        font-size: 1.5rem;
        color: #a4a4a4;
        font-style: italic; }
      .formContainer .formQuote .formQuoteScreen .quote:after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f10e";
        opacity: 0.25;
        font-size: 3rem;
        position: relative;
        bottom: -5px;
        right: -5px; }
      .formContainer .formQuote .formQuoteScreen .quote:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f10d ";
        opacity: 0.25;
        font-size: 3rem;
        position: relative;
        bottom: 5px;
        left: -5px; }

.radio input[type="radio"]:checked + span {
  color: #ffffff; }

.radio input[type="radio"]:checked + span:before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  background: #fd5c00;
  left: 7px;
  top: 8px;
  border-radius: 100%; }

@media (max-width: 1080px) {
  .formContainer .form,
  .formContainer .formQuote {
    width: 50%; }
  .formContainer .form .formWrapper {
    max-width: 540px; } }

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .formContainer .formQuote {
    display: none; }
  .formContainer .form {
    width: 100%; }
  .formContainer .form .formWrapper {
    max-width: 80%;
    width: 80%;
    float: none;
    margin: 0 auto;
    text-align: center; }
    .formContainer .form .formWrapper form {
      text-align: center;
      margin: 0 auto; }
      .formContainer .form .formWrapper form .filters {
        text-align: center;
        margin: 0 auto; }
        .formContainer .form .formWrapper form .filters fieldset {
          text-align: center; } }

/* Landscape phones and down */
@media (max-width: 480px) {
  .formContainer .form .formWrapper {
    width: 310px;
    float: none;
    margin: 0 auto;
    text-align: center; }
    .formContainer .form .formWrapper form {
      text-align: center;
      margin: 0 auto; }
      .formContainer .form .formWrapper form .filters {
        width: 250px;
        text-align: center;
        margin: 0 auto; }
        .formContainer .form .formWrapper form .filters fieldset {
          text-align: center; }
          .formContainer .form .formWrapper form .filters fieldset h3 {
            margin: 0 0 15px 0;
            color: #4a4a4a; }
          .formContainer .form .formWrapper form .filters fieldset ul li {
            margin-right: 15px; }
            .formContainer .form .formWrapper form .filters fieldset ul li .radio {
              color: #4a4a4a;
              position: relative; }
              .formContainer .form .formWrapper form .filters fieldset ul li .radio span {
                position: relative;
                padding: 2px 5px 0 18px; }
              .formContainer .form .formWrapper form .filters fieldset ul li .radio span:after {
                content: "";
                width: 15px;
                height: 15px;
                border: 3px solid;
                position: absolute;
                left: -5px;
                top: 1px;
                border-radius: 100%; }
  .radio input[type="radio"]:checked + span:before {
    content: "";
    width: 11px;
    height: 11px;
    position: absolute;
    background: #006860;
    left: 0;
    top: 6px;
    border-radius: 100%; } }

.results {
  padding-bottom: 0px;
  padding-top: 50px;
  background-color: whitesmoke;
  clear: both; }

.results,
.savedList {
  margin: 0 auto;
  padding-bottom: 40px;
  clear: both;
  text-align: center; }
  .results .btn,
  .savedList .btn {
    margin: 25px; }
  .results .wrapper .sale,
  .savedList .wrapper .sale {
    position: absolute;
    border-radius: 1.5px;
    border: #ffffff 1px solid;
    background-color: #fd5c00;
    padding: 2.5px 10px;
    top: -22px;
    left: -1px; }
    .results .wrapper .sale p,
    .savedList .wrapper .sale p {
      font-family: 'Montserrat', sans-serif;
      font-weight: 900;
      margin: 0;
      font-size: 1.2rem;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 700; }
  .results .wrapper .card,
  .savedList .wrapper .card {
    float: left;
    width: calc(33% - 2%);
    margin: 2% 1%;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
    .results .wrapper .card:hover,
    .savedList .wrapper .card:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    .results .wrapper .card .cardWrapper,
    .savedList .wrapper .card .cardWrapper {
      text-align: left;
      position: relative; }
      .results .wrapper .card .cardWrapper .imageWrapper,
      .savedList .wrapper .card .cardWrapper .imageWrapper {
        float: left;
        width: 45%; }
      .results .wrapper .card .cardWrapper .btn,
      .savedList .wrapper .card .cardWrapper .btn {
        margin: 20px 0; }
      .results .wrapper .card .cardWrapper .cardSide,
      .savedList .wrapper .card .cardWrapper .cardSide {
        float: left;
        width: calc(55% - 4%);
        height: 100%;
        padding: 0 0 0 8px; }
        .results .wrapper .card .cardWrapper .cardSide .wineTitle,
        .savedList .wrapper .card .cardWrapper .cardSide .wineTitle {
          padding-top: 20px;
          height: 60%; }
          .results .wrapper .card .cardWrapper .cardSide .wineTitle h3,
          .savedList .wrapper .card .cardWrapper .cardSide .wineTitle h3 {
            display: block;
            max-width: 100%;
            height: calc((3 * 2rem) + 0.8rem);
            margin: 10px auto;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow: hidden;
            color: #4a4a4a; }
        .results .wrapper .card .cardWrapper .cardSide .winePriceWrapper,
        .savedList .wrapper .card .cardWrapper .cardSide .winePriceWrapper {
          height: 40%; }
          .results .wrapper .card .cardWrapper .cardSide .winePriceWrapper .wineStyle,
          .savedList .wrapper .card .cardWrapper .cardSide .winePriceWrapper .wineStyle {
            font-size: 1.4rem;
            margin: 0; }
          .results .wrapper .card .cardWrapper .cardSide .winePriceWrapper .winePrice,
          .savedList .wrapper .card .cardWrapper .cardSide .winePriceWrapper .winePrice {
            font-family: 'Montserrat', sans-serif;
            color: #4a4a4a;
            font-size: 2rem;
            font-weight: 700;
            margin: 0; }
            .results .wrapper .card .cardWrapper .cardSide .winePriceWrapper .winePrice span,
            .savedList .wrapper .card .cardWrapper .cardSide .winePriceWrapper .winePrice span {
              font-size: 70%; }

.savedList {
  min-height: calc(100vh - 110px); }
  .savedList h2 {
    margin: 0; }
  .savedList header h1 {
    color: #fd5c00; }
  .savedList header nav ul li p {
    color: #fd5c00;
    padding-bottom: 50px; }
  .savedList .card {
    position: relative; }
    .savedList .card a .cardWrapper .sale {
      font-family: 'Montserrat', sans-serif;
      font-weight: 900;
      position: absolute;
      border-radius: 1.5px;
      border: #ffffff 1px solid;
      background-color: #fd5c00;
      padding: 2.5px 10px;
      top: -22px;
      left: -1px; }
      .savedList .card a .cardWrapper .sale p {
        margin: 0;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 700; }
    .savedList .card a .cardWrapper .cardSide {
      padding: 0px; }
      .savedList .card a .cardWrapper .cardSide .wineTitle h3 {
        display: block;
        max-width: 100%;
        height: calc((4 * 2rem) + 1rem);
        margin: 15px auto;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #4a4a4a; }
    .savedList .card .deleteBtn {
      color: #4a4a4a;
      position: absolute;
      top: 2px;
      right: 2px;
      border: none;
      background-color: transparent;
      font-size: 1.8rem;
      padding: 0px 4px; }

.myCellar {
  color: #4a4a4a; }

@media (max-width: 1080px) {
  .results .wrapper .card {
    width: calc(50% - 3%);
    margin: 2.5% 1.5%; }
  .savedList .wrapper .card {
    width: calc(50% - 3%);
    margin: 2.5% 1.5%; }
  .results .wrapper .card .cardWrapper .cardSide .wineTitle h3 {
    font-size: 2.5rem;
    height: calc((4 * 2.5rem) + 1.1rem);
    -webkit-line-clamp: 4; }
  .savedList .wrapper .card .cardWrapper .cardSide .wineTitle h3 {
    font-size: 2.5rem;
    height: calc((4 * 2.5rem) + 1rem);
    -webkit-line-clamp: 4; } }

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .results .wrapper .card {
    width: calc(50% - 3%);
    margin: 2.5% 1.5%; }
  .savedList .wrapper .card {
    width: calc(50% - 3%);
    margin: 2.5% 1.5%; }
  .results .wrapper .card .cardWrapper .cardSide .wineTitle h3 {
    font-size: 2.3rem;
    height: calc((3 * 2.3rem) + 1.1rem);
    -webkit-line-clamp: 3; }
  .savedList .wrapper .card .cardWrapper .cardSide .wineTitle h3 {
    font-size: 2.3rem;
    height: calc((3 * 2.3rem) + 0.9rem);
    -webkit-line-clamp: 3; } }

/* Landscape phone to portrait tablet */
@media (max-width: 868px) {
  .myCellar {
    font-size: 3rem;
    color: #4a4a4a; }
  .results .wrapper {
    margin: 0 auto; }
    .results .wrapper .card {
      float: none;
      width: 400px;
      max-width: 400px;
      margin: 40px auto; }
  .savedList header {
    margin-bottom: 50px; }
    .savedList header nav ul li i {
      color: #fd5c00; }
  .savedList .wrapper {
    margin: 0 auto; }
    .savedList .wrapper .card {
      float: none;
      width: 400px;
      max-width: 400px;
      margin: 40px auto; } }

/* Landscape phones and down */
@media (max-width: 480px) {
  .results {
    padding: 20px; }
  .savedList {
    padding: 0 20px 20px 20px; }
  .results .wrapper .card {
    width: 295px;
    max-width: 400px;
    margin: 40px auto; }
  .savedList .wrapper .card {
    width: 295px;
    max-width: 400px;
    margin: 40px auto; }
  .results .wrapper .card .cardWrapper .cardSide .wineTitle h3 {
    font-size: 2rem;
    height: calc((3 * 2rem) + 1.1rem);
    -webkit-line-clamp: 3; }
  .savedList .wrapper .card .cardWrapper .cardSide .wineTitle h3 {
    font-size: 1.8rem;
    height: calc((3 * 1.8rem) + 0.5rem);
    -webkit-line-clamp: 3; }
  .savedList header nav ul li i {
    color: #fd5c00; }
  .savedList .savedListBtns {
    bottom: 12px; } }

.wineInfo {
  float: left;
  min-height: calc(100vh - 110px);
  width: 100%; }
  .wineInfo header h1 {
    color: #fd5c00; }
  .wineInfo header nav ul li p {
    color: #fd5c00; }
  .wineInfo .wrapper {
    clear: both;
    display: flex;
    align-content: center; }
    .wineInfo .wrapper .imageWrapper {
      width: 40%; }
      .wineInfo .wrapper .imageWrapper img {
        display: block;
        width: 98%; }
    .wineInfo .wrapper .content {
      width: 60%;
      display: flex;
      align-items: center; }
      .wineInfo .wrapper .content .contentWrapper h1 {
        color: #4a4a4a;
        margin: 15px 0; }
      .wineInfo .wrapper .content .contentWrapper .priceWrapper p {
        font-size: 2.8rem;
        margin: 0; }
        .wineInfo .wrapper .content .contentWrapper .priceWrapper p .regular {
          font-size: 3rem;
          margin-right: 10px;
          text-decoration: line-through;
          color: #4a4a4a; }
        .wineInfo .wrapper .content .contentWrapper .priceWrapper p .sale {
          font-size: 3rem;
          color: #fd5c00; }
        .wineInfo .wrapper .content .contentWrapper .priceWrapper p span {
          color: #fd5c00;
          font-size: 70%; }
      .wineInfo .wrapper .content .contentWrapper p::first-letter {
        text-transform: uppercase; }
      .wineInfo .wrapper .content .contentWrapper .wineServingSuggestBox {
        border: #03b6bc 2px solid;
        border-radius: 2px;
        position: relative;
        width: 450px; }
        .wineInfo .wrapper .content .contentWrapper .wineServingSuggestBox .wineServingSuggestTitle {
          font-size: 1.1rem;
          font-family: 'Montserrat', sans-serif;
          font-weight: 900;
          text-transform: uppercase;
          background-color: #fff;
          color: #03b6bc;
          position: absolute;
          top: -24px;
          left: 10px;
          padding: 5px; }
        .wineInfo .wrapper .content .contentWrapper .wineServingSuggestBox .wineServingSuggest {
          padding: 16px;
          margin: 0; }
      .wineInfo .wrapper .content .contentWrapper ul {
        padding: 0;
        list-style-type: none;
        color: #4a4a4a;
        margin: 15px 0; }
        .wineInfo .wrapper .content .contentWrapper ul li {
          font-family: "Work Sans", sans-serif;
          font-size: 1.4rem; }
          .wineInfo .wrapper .content .contentWrapper ul li span {
            font-weight: 700; }
  .wineInfo .displayStock {
    padding: 25px 0px; }
    .wineInfo .displayStock .wrapper {
      display: flex;
      flex-wrap: wrap; }
      .wineInfo .displayStock .wrapper .stockCard {
        padding: 20px;
        flex: 0 0 calc(33% - 20px);
        margin: 10px;
        background-color: white;
        text-align: center;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
        .wineInfo .displayStock .wrapper .stockCard:hover {
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
        .wineInfo .displayStock .wrapper .stockCard .storeInfo {
          color: #4a4a4a; }
        .wineInfo .displayStock .wrapper .stockCard p {
          line-height: 1.5;
          color: #4a4a4a; }
          .wineInfo .displayStock .wrapper .stockCard p i {
            color: #fd5c00; }
          .wineInfo .displayStock .wrapper .stockCard p a {
            color: #4a4a4a;
            text-decoration: underline; }
            .wineInfo .displayStock .wrapper .stockCard p a:hover {
              color: #03b6bc; }
          .wineInfo .displayStock .wrapper .stockCard p span {
            font-weight: 900; }

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .wineInfo .wrapper .imageWrapper,
  .wineInfo .wrapper .content {
    width: 50%; }
  .wineInfo .wrapper .imageWrapper {
    width: 50%; }
  .wineInfo .wrapper .content .contentWrapper .wineServingSuggestBox {
    width: 360px; }
  .wineInfo .wrapper .content .contentWrapper .btn {
    margin-right: 5px; }
  .wineInfo .displayStock {
    margin-top: 50px; }
    .wineInfo .displayStock .wrapper {
      display: flex;
      flex-wrap: wrap; }
      .wineInfo .displayStock .wrapper .stockCard {
        flex: 0 0 calc(50% - 20px);
        margin: 10px; }
  /* Landscape phone to portrait tablet */ }

@media (max-width: 940px) and (max-width: 868px) {
  .wineInfo header nav ul li i {
    color: #fd5c00; }
  .wineInfo .wrapper {
    display: flex;
    flex-direction: column; }
    .wineInfo .wrapper .imageWrapper {
      float: none;
      margin: 0 auto;
      width: 300px; }
    .wineInfo .wrapper .content {
      float: none;
      width: 100%;
      margin: 0 auto; }
      .wineInfo .wrapper .content .contentWrapper {
        margin-top: 10px;
        text-align: center; }
        .wineInfo .wrapper .content .contentWrapper h1 {
          font-family: "Lora", monospace;
          color: #4a4a4a;
          margin: 15px 0;
          text-align: center; }
        .wineInfo .wrapper .content .contentWrapper .priceWrapper p {
          text-align: center; }
        .wineInfo .wrapper .content .contentWrapper .wineDescription {
          text-align: center; }
        .wineInfo .wrapper .content .contentWrapper .wineServingSuggestBox {
          margin: 0 auto;
          width: 400px; }
  .wineInfo .displayStock {
    margin-top: 0px; }
    .wineInfo .displayStock .wrapper {
      display: flex;
      flex-wrap: wrap; }
      .wineInfo .displayStock .wrapper .stockCard {
        flex: 0 0 calc(100% - 20px);
        margin: 10px;
        color: #03b6bc; } }

@media (max-width: 940px) {
  /* Landscape phones and down */ }

@media (max-width: 940px) and (max-width: 480px) {
  .wineInfo header nav ul li i {
    color: #fd5c00; }
  .wineInfo .wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px; }
    .wineInfo .wrapper .imageWrapper {
      float: none;
      margin: 0 auto;
      width: 200px; }
    .wineInfo .wrapper .content {
      flex-direction: column;
      width: 100%;
      margin: 0 auto; }
      .wineInfo .wrapper .content .contentWrapper {
        margin-top: 10px;
        padding: 0 15px;
        text-align: center; }
        .wineInfo .wrapper .content .contentWrapper h1 {
          margin: 15px 0;
          text-align: center; }
        .wineInfo .wrapper .content .contentWrapper .priceWrapper p {
          text-align: center; }
        .wineInfo .wrapper .content .contentWrapper .wineDescription {
          text-align: center; }
        .wineInfo .wrapper .content .contentWrapper .wineServingSuggestBox {
          margin: 0 auto;
          width: 300px; } }

@media (max-width: 330px) {
  .wineInfo .wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px; }
    .wineInfo .wrapper .imageWrapper {
      float: none;
      margin: 0 auto;
      width: 150px; }
    .wineInfo .wrapper .content {
      flex-direction: column;
      width: 100%;
      margin: 0 auto; }
      .wineInfo .wrapper .content .contentWrapper {
        padding: 0 15px;
        margin-top: 10px;
        text-align: center; }
        .wineInfo .wrapper .content .contentWrapper h1 {
          font-size: 2.8rem;
          margin: 15px 0;
          text-align: center; }
        .wineInfo .wrapper .content .contentWrapper .priceWrapper p {
          text-align: center; }
        .wineInfo .wrapper .content .contentWrapper .wineDescription {
          text-align: center; }
        .wineInfo .wrapper .content .contentWrapper .wineServingSuggestBox {
          margin: 0 auto;
          width: 290px; } }

footer {
  background-color: #4a4a4a;
  padding: 10px 0px;
  clear: both;
  height: 110px; }
  footer .socialIcons {
    font-size: 3rem;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px; }
    footer .socialIcons i {
      padding: 10px 10px;
      color: #03b6bc;
      transition: transform 0.5s; }
      footer .socialIcons i:hover {
        transform: scale(1.2); }
  footer .createdBy p {
    text-align: center;
    color: #ffffff;
    padding-bottom: 10px;
    margin: 0;
    text-transform: uppercase;
    font-size: 1.2rem; }
    footer .createdBy p a {
      color: #fd5c00; }

/* Landscape phones and down */
@media (max-width: 480px) {
  footer p {
    font-size: 1.2rem; } }
